<!-- ABOUT SECTION  -->

    <section class="about" id="about">

        <div class="row">
            <div class="image">
                <img src="../sprites/about.png" alt="">
            </div>
            <h1 class="About-us">About Us</h1>
        </div>

        <div class="content">
            <p>"The Monkey Serve" - your go-to platform for students to review the delectable cuisine available in Agno!
            </p>
            <p>The Monkey Serve is a dynamic website designed exclusively for students, </p>
            <p>providing them with a unique opportunity to share their experiences and opinions on the various food
                options available in Agno</p>
        </div>

    </section>

    <!-- ABOUT SECTION END -->

    