<!-- FEATURED -->

    <section class="featured" id="featured">
        <div class="line-divider">
            <hr>
            <p>
                <span class="fonta"> meanwhile in</span>
                <span class="fontb">Agno</span>
            </p>
        </div>
        <div class="bilog-wrapper">

            <div class="worth-it">
                <div class="circular--landscape">
                    <img src="../sprites/1.png">
                </div>
                <span class="worth">&nbsp Worth it? &nbsp</span>
            </div>

            <div class="college">
                <div class="circular--landscape">
                    <img src="../sprites/2.png">
                </div>
                <span class="college-survival">&nbsp College Survival &nbsp</span>
            </div>

            <div class="fun">
                <div class="circular--landscape">
                    <img src="../sprites/3.png">
                </div>
                <span class="fun-bites">&nbsp Fun Bites &nbsp</span>
            </div>

            <div class="beverages">
                <div class="circular--landscape">
                    <img src="../sprites/5.png">
                </div>
                <span class="bev">&nbsp Beverages &nbsp</span>
            </div>

            <div class="student">
                <div class="circular--landscape">
                    <img src="../sprites/4.png">
                </div>
                <span class="student-friendly">&nbsp Student Friendly &nbsp</span>
            </div>

        </div>

        <div class="line-divider2">
            <hr>
        </div>

    </section>

    <!-- FEATURED END-->