<!-- HEADER START -->
  <header>

    <a href="/" class="logo">
      <img src="../sprites/icon.png" alt="Logo">
      The Monkey Serve
    </a>

    <nav class="navbar">
      <a class="home" href="/home">Home</a>
      <ul class="dropdown">
        <li class="dropdown-toggle"> <a href="/estabPage">Establishments</a> 
          <ul class="dropdown-menu">
            <li><a href="/estAteRicas">Ate Rica's Bacsilog</a></li>
            <li><a href="/estGoodMunch">Good Munch</a></li>
            <li><a href="/estKuyaMels">Kuya Mel's</a></li>
            <li><a href="/estHappyNHealthy">Happy n Healthy</a></li>
            <li><a href="/estPotatoGiant">Potato Giant</a></li>
          </ul>
        </li>
      </ul>
      <a href="/login">Review</a>

    </nav>



    <div class="icons">
      <i class="fas fa-bars" id="bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
    </div>
  </header>

  <!-- HEADER END -->