<!-- HEADER START -->
  <header>

    <a href="/" class="logo">
      <img src="../sprites/icon.png" alt="Logo">
      The Monkey Serve
    </a>



    <div class="icons">
      <i class="fas fa-bars" id="bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a href="" class="fas fa-user" id="user-icon"></a>
      <a href="/logout" class="fas fa-door-open" id="heart-icon"></a>
    </div>
  </header>

  <!-- HEADER END -->