  <!-- SEARCH -->

  <form action="/search" id="search-form">
    <input type="search" placeholder="search here..." name="search" id="search-box">
    <button type="submit" id="submitButton" style="display: none;"></button>
    <label for="submitButton" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
  </form>

  <!-- SEARCH END -->