<div class="bg">
    <div class="content">
      <div class="title">MONKEY SERVE</div>
      <hr class="divider">
      <div class="button-container">
        <a href="/login" class="button login"><span>Login</span></a>
        <a href="/register" class="button register"><span>Register</span></a>
      </div>
    </div>
  </div>