<div class="bg">
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Welcome to Monkey Serve!</span></div>
        <form action="/loginUser" method="POST"> <!-- Update the action attribute with the destination page -->
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" name="email" placeholder="Email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <input type="submit" value="Login" id="login-btn">
          </div>
          <div class="signup-link">New to Monkey Serve? <a href="/register">Signup now</a></div>
        </form>
      </div>
    </div>
  </div>